<h1>Edit <%=@recipe.name%> </h1>

<%= render 'form' %>

<div class="section">
  <h2> Add a Catagory to this recipe</h2>

  <%= form_tag(recipe_catagories_path(:recipe_id => @recipe.id), :method => "post") do %>
   <%= select_tag "catagory_name", options_for_select(@catagories) %>
   <%= submit_tag "Add Catagory" %>
  <%end%>
</div>
