<div>
<h1><%= @recipe.name %> </h1>
<ul><% @categories.each do |category| %>
  <li><%= category.name%></li>
  <% end %>
</ul>
<br/>
<% if current_user != nil && @recipe.favorite?(current_user.id)  == false %>
  <%= button_to "Add to Favorites", favorites_path, params: {recipe_id: params[:id]} %>
<%end%>
</div>

<p>
  <h2> Ingredients </h2>
  <ul><% @recipe.ingredients_list.each do |ingredient| %>
    <li><%= ingredient%></li>
    <% end %>
  </ul>
</p>
<p>
  <h2> Directions </h2>
  <%= @recipe.directions %> </p>

<p>
  <h2> Notes </h2>
  <%= @recipe.notes %> </p>
