<!DOCTYPE html>
<html>
  <head>
    <title>PbrBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "/partials/nav" %>
    <%= yield %>
  </body>
  <footer style="height:100px;" />
</html>
